{% extends 'base.html' %}
{% load static %}

{% block index %}
            
            <!-- About Start -->
            <div class="about">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div id="video-section">
                                <img src="{% static 'img/dizajn-parikmaherskoj-48.jpg'%}" alt="main-pic">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="section-title">Узнайте о нас</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <!-- Service Start -->
            <div class="service">
                <div class="container-fluid">
                    <div class="section-header">
                        <h2>Наши услуги</h2>
                        <p>Вы можете кратко ознакомиться с перечнем наших услуг. По нажатию на нужную вам услугу вас перенесет на страницу с более подробным описанием услуги и ее ценой на данный момент</p>
                    </div>
                    <div class="row">
                        {% for service in services_list %}
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <h3>{{ service.title }}</h3>
                                <img src="{{ service.photo.url }}" alt="Service">
                                <p>{{ service.short_description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Service End -->

{% endblock %}
