{% extends 'base.html' %}
{% load static %}

{% block index %}
<link href="{% static 'login.css' %}" rel="stylesheet">

<div class="login-page">
    <div class="form">
      <form method="POST" class="login-form">
          {% csrf_token %}
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
      <button>войти</button>
      <p class="message">Не зарегистрированы? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </form>
    </div>
</div>
{% endblock %}
